[user]
	name = Arthur Gouveia
	email = arthur.gouveia@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = simple
